<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
</head>
<body>
    <form action="" method = "POST">
        {% csrf_token %}
        <label for="naam">
            Naam:
        </label> 
        <input type="text" name="naam">
        <label for="email">Email:</label>
        <input type="email" name="email" id="">
        <label for="onderwerp">Onderwerp:</label>
        <input type="text" name="onderwerp" id="">
        <label for="bericht">Bericht:</label>
        <textarea name="bericht" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="Submit">

        {% if messages %}

            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}

        {% endif %}
    </form>
</body>
</html>